HotelWebServiceDB/Connected Services/ServiceCiReservas/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="allReservations">
        <s:complexType />
      </s:element>
      <s:element name="allReservationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="allReservationsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="simplesReservations">
        <s:complexType />
      </s:element>
      <s:element name="simplesReservationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="simplesReservationsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="todayReservations">
        <s:complexType />
      </s:element>
      <s:element name="todayReservationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="todayReservationsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reservasPorCI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reservasPorCIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reservasPorCIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="allReservationsSoapIn">
    <wsdl:part name="parameters" element="tns:allReservations" />
  </wsdl:message>
  <wsdl:message name="allReservationsSoapOut">
    <wsdl:part name="parameters" element="tns:allReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="simplesReservationsSoapIn">
    <wsdl:part name="parameters" element="tns:simplesReservations" />
  </wsdl:message>
  <wsdl:message name="simplesReservationsSoapOut">
    <wsdl:part name="parameters" element="tns:simplesReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="todayReservationsSoapIn">
    <wsdl:part name="parameters" element="tns:todayReservations" />
  </wsdl:message>
  <wsdl:message name="todayReservationsSoapOut">
    <wsdl:part name="parameters" element="tns:todayReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="reservasPorCISoapIn">
    <wsdl:part name="parameters" element="tns:reservasPorCI" />
  </wsdl:message>
  <wsdl:message name="reservasPorCISoapOut">
    <wsdl:part name="parameters" element="tns:reservasPorCIResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="allReservations">
      <wsdl:input message="tns:allReservationsSoapIn" />
      <wsdl:output message="tns:allReservationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="simplesReservations">
      <wsdl:input message="tns:simplesReservationsSoapIn" />
      <wsdl:output message="tns:simplesReservationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="todayReservations">
      <wsdl:input message="tns:todayReservationsSoapIn" />
      <wsdl:output message="tns:todayReservationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reservasPorCI">
      <wsdl:input message="tns:reservasPorCISoapIn" />
      <wsdl:output message="tns:reservasPorCISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="allReservations">
      <soap:operation soapAction="http://tempuri.org/allReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simplesReservations">
      <soap:operation soapAction="http://tempuri.org/simplesReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="todayReservations">
      <soap:operation soapAction="http://tempuri.org/todayReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservasPorCI">
      <soap:operation soapAction="http://tempuri.org/reservasPorCI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="allReservations">
      <soap12:operation soapAction="http://tempuri.org/allReservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simplesReservations">
      <soap12:operation soapAction="http://tempuri.org/simplesReservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="todayReservations">
      <soap12:operation soapAction="http://tempuri.org/todayReservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservasPorCI">
      <soap12:operation soapAction="http://tempuri.org/reservasPorCI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44329/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44329/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>